Django
dj-database-url
django-cors-headers
whitenoise
psycopg2-binary
djangorestframework
huggingface-hub
Pillow
python-dotenv
requests
django-taggit
django-compressor
django-crispy-forms
crispy-bootstrap5
django-allauth
django-ckeditor
django-cleanup
django-debug-toolbar
gunicorn